.item:not(:last-child) {
  margin-right: 25px;
}

.footer:not(:last-child) {
  margin-right: 0;
  margin-bottom: 7px;
}

.link {
  font-size: 16px;
  line-height: 18px;
  color: #1F1E25;
  transition: color 0.3s;

  &:hover {
    color: #2C36F2;
  }
}

.active {
  color: #2C36F2;
}
