.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  position: relative;
  padding-left: 30px;
  color: #1F1E25;
  font-size: 16px;
  line-height: 18px;
  transition: color 0.3s;

  &:hover {
    color: #2C36F2;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 22px;
    margin-left: -30px;
    background-image: url('./user-login.svg');
  }
}