// Global styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// Common styles
.body {
  margin: 0;
  padding: 0;
  font-family: var(--font-regular);
  font-size: 18px;
  line-height: 24px;
}

.root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
