.list {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  list-style: none;
  min-height: 228px;
  
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 20%);
  column-gap: 250px;
}
